In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.ticker import FormatStrFormatter
from matplotlib.ticker import PercentFormatter

from seaborn import violinplot
from seaborn import boxplot
from seaborn import distplot

plt.style.use('ggplot')

In [5]:
circuits_archive = pd.read_csv('circuits.csv')
constructor_results_archive = pd.read_csv('constructor_results.csv')
constructor_standings_archive = pd.read_csv('constructor_standings.csv')
constructor_archive = pd.read_csv('constructors.csv')
driver_standings_archive = pd.read_csv('driver_standings.csv')
drivers_archive = pd.read_csv('drivers.csv')
lap_times_archive = pd.read_csv('lap_times.csv')
pit_stops_archive = pd.read_csv('pit_stops.csv')
qualifying_archive = pd.read_csv('qualifying.csv')
races_archive = pd.read_csv('races.csv')
results_archive = pd.read_csv('results.csv')
seasons_archive = pd.read_csv('seasons.csv')
sprint_results_archive = pd.read_csv('sprint_results.csv')
status_archive = pd.read_csv('status.csv')

In [6]:
results_archive.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1